<div class="nav">

  <div class="nav-inner">

    <ul class="nav-pri">
      <li {% if section == "home" %}class="cur"{% endif %}><a href="/{{ versionNumber() }}/home">Home</a></li>
      <li {% if section == "referrals" %}class="cur"{% endif %}><a href="/{{ versionNumber() }}/referrals">Referrals</a></li>
      <li {% if section == "calendar" %}class="cur"{% endif %}><a href="/{{ versionNumber() }}/calendar">Calendar</a></li>
      <li {% if section == "management-information" %}class="cur"{% endif %}><a href="/{{ versionNumber() }}/management-information">Management information</a></li>
    </ul>

    <p class="nav-account"><a href="/{{ versionNumber() }}/">User Settings</a>&nbsp;&nbsp;&nbsp;&nbsp;Julie Smith: <a href="/{{ versionNumber() }}/account/log-in">Log out</a></p>

  </div>

</div>


