<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/chosen.jquery.min.js"></script>

<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/prism.js"></script>
<script src="/public/javascripts/tabbing.js"></script>
<script src="/public/javascripts/tabs.js"></script>
