// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// Utility classes used for nudging spacing
@import 'utility';

// 'Chosen' styles for the search select input
@import 'chosen';

// Font Overrides
*:not(.token) {
  font-family: $Helvetica-Regular !important; 
}
#proposition-name {
  font-family: $Helvetica-Regular !important;
}

.example * {
  font-family: 'nta', Helvetica, Arial, sans-serif;
}
@import 'prism';
@import 'tabbing';
@import 'example-box';
@import 'remove-items-from-list';
@import 'admin-menu';

.dwplogo {
  margin-top: -2px !important;
  font-size: 30px !important;
  background: none !important;
}

.built-by-dwp {
  font-size: 16px;
}

.example-caption {
  margin-bottom: 35px;
}

.alpha-tag{
  @include phase-tag(alpha);
}

.phase-banner  {
  @include phase-banner(alpha);
  @include phase-banner(beta);
}

// form styles
legend {
	font-weight: 700;
}

.form-control {
  width: 100%;
  max-width: 350px;
}

.form-control-1-4, 
.postcode {
  max-width: 200px;
  margin-right: 10px;
}

// input[type="file"] {
//   text-align: baseline;
// }

.file-upload {
  background-color: $panel-colour;
  padding: 20px 16px 20px 21px;
  line-height: 0;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid $panel-colour;
  text-indent: -5px;
  // font-size: 12px;
  &:hover, &:focus {
    border-color: $black;
  }
}

.sec-link a, sec-link a:visited {
  color: #666;
}

.button.text {
  background: none;
  border-color: #FFFFFF;
  color: $link-colour;
  text-decoration: underline;
  box-shadow: none;
  &:hover, &:focus {
    color: $link-hover-colour !important;
    text-decoration: underline !important;
  }
  &:active {
    top: 0;
  }
}

a.button {
  &:hover,
  &:focus {
    color: #fff !important;
    text-decoration: none !important;
  }
}

// declaration
.legal_message {
	margin: 30px 0 30px;
	padding-left: 60px;
	background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
	background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
	background-size: 34px 34px
}

// Helvetica baseline nudges
.button {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
// End of Helvetica baseline nudges


a:visited {
  color: $link-colour;
  &:hover {
    color: $link-hover-colour;
  }
}

.clear {
  clear: both;
}

body .span-width {
  max-width: 90% !important;
  min-height: 100px;
}

// Navigation pri

.nav {
  background-color: $panel-colour;
  overflow: hidden;
}

.nav-inner {
  max-width: 960px;
  margin: 0 auto;
}

.nav-pri {
  width: 500px;
  float: left;
  margin: 0;
  li {
    float: left;
    margin: 0;
    a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      color: $text-colour;
      margin-right: none;
      margin-left: 0;
    }
    a:hover {
      background-color: $grey-4;
    }
    &.cur a,
    &.cur a:hover {
      background-color: $turquoise;
      font-weight: bold;
      color: $page-colour;
    }
  }
}

.nav-account {
  padding: 15px 0 15px 0;
  width: 300px;
  float: right;
  text-align: right;
  margin: 0;
}

// Tabs


.nav-tabbed {
  // background-color: red;
  border-bottom: 1px solid $border-colour;
  margin-bottom: 20px;
  // padding-bottom: 5px;
  a {
    text-decoration: none;
  }
}

.nav-tabbed ul {
  display: block;
  li {
    background: $page-colour;
    display: inline-block;
    cursor: pointer;
    border: 1px solid $panel-colour;
    background-color: $panel-colour;
    color: $govuk-blue;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    a {
      display: inline-block;
      padding: 10px 15px;
      &:hover {
      color: $link-hover-colour;
      }
    }
  }
}

.nav-tabbed ul li.current {
  color: $text-colour;
  text-decoration: none;
  border: 1px solid $border-colour;
  background-color: $page-colour;
  border-bottom: none;
  position: relative;
  bottom: -1px;
  padding: 10px 15px;
  padding-bottom: 16px;
  padding-top: 12px;
  span {
    position: relative;
    top: -1px;
    span {
      position: relative;
      top: 0; 
    }
  }
}

.heading-medium .heading-secondary {
  color: $grey-1 !important;
  font-weight: normal;
  display: block;
  font-size: 19px;
}

// Table styles 


// Column widths

table {
  .col-1 {
    width: 11%;
  }
  .col-2 {
    width: 25.5%;
  }
  .col-3 {
    width: 24%;
  }
  .col-4 {
    width: 22%;
  }
  .col-5 {
    width: 21%;
  }
}

table.available {
  .col-1 {
    width: 11%;
  }
  .col-2 {
    width: 30%;
  }
  .col-3 {
    width: 32%;
  }
  .col-4 {
    width: 22%;
  }
}

td.add {
  position: relative;
  .button {
    position: absolute;
    right: 0;
    top: 12px;
  }
}

.bold {
  font-weight: bold;
}

// .pending {
//   color: $orange;
// }

// .booked {
//   color: $button-colour;
// }

// .not-assigned {
//   color: $grey-1;
// }

.sticker,
.urgent {
  border: 1px solid $text-colour;
  text-transform: uppercase;
  font-size: 13px;
  padding: 2px 4px;
  display: inline-block;
  margin-bottom: -1px;
  border-radius: 2px;
}

// .col-heading {
//   color: red !important;
// }

.col-heading {
  font-weight: bold;
  display: block;
  &.grey {
    color: $grey-1;
    .sticker {
      border-color: $grey-2;
    }
  }
  &.pending {
    color: $orange;
    .sticker {
      border-color: $orange;
    }
  }
  &.interpreter {
    color: $fuschia;
    .sticker {
      border-color: $fuschia;
    }
  }
  &.booked {
    color: $green;
    .sticker {
      border-color: $green;
    }
  }
  a {
    display: block;
    padding-bottom: 1px;

  }
}

.small-grey {
  color: #4a4f51;
  font-size: 14px;
}

.grey {
  color: #4a4f51;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.uppercase {
  text-transform: uppercase;
}

table a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

tr {
  vertical-align: top;
}

tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-medium-large {
  font-size: 29px;
  font-weight: bold;
}

.ucb,
.urgent {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.ucb {
  color: $red;
}

.urgent {
  font-size: 12px;
  background-color: $red;
  padding: 2px;
  color: $page-colour;
  padding: 2px 4px;
  border: 1px solid $red;
  border-radius: 2px;
  font-weight: bold;
  &.hidden {
    background-color: $page-colour;
    color: $page-colour;
  }
}

h4 .urgent {
  float: right;
  margin-top: 4px;
}

table .urgent {
  font-size: 11px;
  padding: 1px 3px;
}

table .date {
  font-weight: bold;
}

.target {
  display: block;
  margin-top: 8px;
  span {
    display: block;
    height: 6px;
    width: 15px;
    float: left;
    margin-right: 5px;
  }
  .target-1 {
    background-color: $grass-green;
  }
  .target-2 {
    background-color: $yellow;
  }
  .target-3 {
    background-color: $red;
  }
}


.due {
  color: $red;
}

.filters {
  clear: both;
  margin-bottom: 20px;

  h3 {
    display: inline-block;
    margin-right: 5px;
  }
  font-size: 16px;
  line-height: 20px;
  
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }

  select {
    font-size: 14px;
    list-style: 20px;
    background-color: $page-colour;
  }

}

// Sortable table styles


// Dynamic search styles

.dataTables_filter {
  width: 200px;
  float: right;
  margin-top: -47px;
  label {
    position: relative;
    display: block;
    background-color: red;
    input {
      position: absolute;
      right: 0;
      font-size: 16px;
      padding: 5px;
      width: 300px;
    }
  }
}

::-webkit-input-placeholder {
  color:$grey-1;
}

// Hide unnecessary things

// .dataTables_length,
// .dataTables_info,
// .dataTables_paginate {
//   display: none;
// }

.dataTables_paginate a {
  display: inline-block;
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: $page-colour;
  border: 1px solid $border-colour;
  color: $govuk-blue;
  &.current {
    background-color: $turquoise;
    color: $page-colour;
    font-weight: bold;
    border-color: $turquoise;
  }
}

.sidebar.primary {
  // background-color: $highlight-colour;
  // padding: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-top: 8px solid $turquoise;
  padding-top: 10px;
  margin-top: 30px;
  &.booked {
    border-color: $green;
  }
  &.pending {
    border-color: $orange;
  }
  &.interpreter {
    border-color: $fuschia;
  }
  &.not-assigned {
    border-color: $grey-1;
  }
}

.status-heading {
  text-transform: uppercase;
  &.booked {
    color: $green;
  }
  &.pending {
    color: $orange;
  }
  &.interpreter {
    color: $fuschia;
  }
  &.not-assigned {
    color: $grey-1;
  }
}

.sidebar.secondary {
  // background-color: $highlight-colour;
  // padding: 15px;
  margin-bottom: 25px;
  margin-left: 15px;
  border-top: 1px solid #ccc;
  padding-top: 0px;
}

.targets {
  margin-top: 20px;
  dl {
    float: left;
    border-left: 4px solid blue;
    padding-left: 7px;
    width: 29%;
    &.target-1 {
      border-color: $grass-green;
    }
    &.target-2 {
      border-color: $yellow;
    }
    &.target-3 {
      border-color: $red;
    }
    dt {
      color: $grey-1;
      font-size: 14px;
    }
    dd {
      font-weight: bold;
      font-size: 19px;
    }
  }
}

ul.action-list {
  li {
    margin-bottom: 10px;
  }
}

.print {
  background-image: url(/public/images/icons/print.svg);
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  background-position: 0 9px;
  // position: absolute;
  margin-top: 7px;
  // right: 0;
  float: right;
  // display: none;
}

.position-relative {
  position:relative;
}

// header

#global-header.with-proposition .header-wrapper .header-global {
  width: 17%;
}

#global-header.with-proposition .header-wrapper .header-proposition {
  width: 48%;
}

// header search

.site-search {
  position: relative;
  margin-right: 20px;
}

.site-search input[type="search"]{
  width: 244px;
  margin-right: 37px;
  font-size: 16px;
  line-height: 1.4375;
  font-weight: 400;
  position: relative;
  padding: 6px;
  z-index: 3;
  box-sizing: border-box;
  float: right;
  right: 37px;
  min-width: 0;
  display: block;
  margin: 0;
  border: 0;
  min-height: 36px;
}

.site-search input[type=submit]{
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border: 1px solid $black;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: $page-colour;
  background-color: $turquoise;
  background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}


// Referral details 

.p-r-l {
  padding-right: 20px;
}


.check-your-answers td {
  font-size: 16px !important;
  a {
    font-weight: normal;
    text-decoration: underline;
  }
}

// Calendar table

.calendar {
  position: relative;
}

.calendar table {
  text-align: center;
  .day-col {
    width: 15%;
    
  }
  span {
    display: block;
    width: 125%;
    text-align: center;
  }
  td {
    border: 1px solid $grey-2;
    text-align: center;
  }
  th {
    font-weight: normal;
    font-size: 14px !important;
  }
  tbody th {
    border-left: 1px solid $grey-2;
    text-align: right;
    padding-right: 10px;
  }
}

.column-thin {
  width: 25%;
  float: left;
}

.column-wide {
  width: 72%;
  float: right;
}

.calendar .event {
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 14%;
  font-size: 13px;
  z-index: 2;
  overflow: hidden;
  a.event-link,
  span.event-static {
    display: block;
    padding: 2px 5px 10px 5px;
    text-decoration: none;
    color: $text-colour;
  }
}

.calendar .visit {
  background-color: rgba(255,210,138,0.6);
  border: 1px solid rgba(0,0,0,0.1);
  overflow: visible;

  &:hover {
    background-color: rgba(255,210,138,0.8);
  }

  .event-detail {
    background-color: $page-colour;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: 5%;
    width: 200px;
    overflow: visible;
    display: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5); 
  }

  .event-detail::before {
      content: "";
      position: absolute;
      left: 10px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $page-colour transparent;
    }
}

.calendar .new-visit {
  background-color: $yellow;
  opacity: 0.95;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,0.1);
  a {
    // color: $page-colour !important;
  }
}

.close {
  float: right;
}

.visit.pop-up {
  z-index: 999999;
  .event-detail {
    display: block;
    font-size: 14px;
    h2 {
      font-weight: bold;
    }
  }
}

.calendar .leave {
  background-color: rgba(46,53,139,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  // &:hover {
  //   background-color: rgba(46,53,139,0.2);
  // }
}

.event-week-1-1 {
  top: 78px;
  left: 25.5%;
  a {
    height: 55px;
  }
}

.event-week-1-2 {
  top: 406px;
  left: 85.5%;
  a {
    height: 104px;
  }
}

.event-week-1-3 {
  top: 37px;
  left: 55.4%;
  span.event-static {
    height: 718px;
  }
}

.event-week-1-4 {
  top: 201px;
  left: 25.5%;
  a {
    height: 22px;
  }
}

.event-week-1-5 {
  top: 406px;
  left: 25.5%;
  a {
    height: 63px;
  }
}

.event-week-1-6 {
  top: 503px;
  left: 25.5%;
  a {
    height: 48px;
  }
}

.event-week-1-7 {
  top: 587px;
  left: 25.5%;
  a {
    height: 87px;
  }
}

.event-week-1-8 {
  top: 37px;
  left: 40.5%;
  a {
    height: 52px;
  }
}

.event-week-1-9 {
  top: 201px;
  left: 40.5%;
  a {
    height: 52px;
  }
}

.event-week-1-10 {
  top: 119px;
  left: 40.5%;
  a {
    height: 52px;
  }
}

.event-week-2-1 {
  top: 37px;
  left: 25.5%;
  span.event-static {
    height: 718px;
  }
}

.event-week-2-2 {
  top: 37px;
  left: 70.45%;
  span.event-static {
    height: 309px;
  }
}

.calendar-header {
  padding: 15px 0 18px 0;
  text-align: center;
  position: relative;
  border-top: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
  ul {
    margin-top: -35px;
    margin-bottom: 30px;
  }
  .blocky-link {
    padding: 10px 0;
    // background-color: red;
    &.prev {
      // background-color: blue;
    }
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
    margin-left: 20px;
  }
  .this-week {
    float: right;
  }
}

table a.table-block {
  display: block;
  width: 116%;
}

div.days-wrap {
  position: absolute;
  left: 10%;
  width: 100%;
  margin-top: 35px;
}

div.day-listing {
  width: 14.95%;
  float: left;

  h3 {
    display: none;
  }
  .booked,
  .passed,
  a {
    text-indent: -9999em;
    display: block;
    height: 40px;
    margin-bottom: 1px;
    // background-color: rgba(0,130,59,0.05);
  }

  .passed {
    background-color: $border-colour;
    opacity: 0.2;
  }

  ul.disabled {
    cursor: not-allowed;
  }

  a:hover,
  a:focus {
    background-color: rgba(0, 94, 165, 0.05);
  }
}

// Chosen search/select field

html body .chosen-container {
  width: 100% !important;
  font-size: 16px !important;
  .chosen-single {
    color: red;
    height: auto;
    // height: 30px;
    color: $text-colour;
    background: none;
    background-color: $grey-3;
    padding: 5px 10px;
    border: 1px solid $grey-2;
    box-shadow: none;

    span {
      width: 100%;
      background-image: url(/public/images/icons/arrows-vertical.svg);
      background-repeat: no-repeat;
      background-position: right 8px;
    }
  }
  li {
    padding: 10px !important;
    line-height: 20px !important;
  }
  li.active-result.highlighted {
    background: none;
    background-color: $turquoise;
    
  }
}

html body .chosen-container.chosen-with-drop {
    border: 1px solid $grey-2;
  span {
    background-position: right -94px;
  }
}


// Cards

.card {
  border: 5px solid $grey-3;
  padding: 15px;
  position: relative;
  // margin-right: 15px;
  // background-color: red;
  margin-left: 15px;
  margin-bottom: 15px;

  .urgent {
    position: absolute;
    right: 15px;
  }

  .heading-medium {
    margin: 0;
    a {
      text-decoration: none;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  dl {
    dt {
      color: $grey-1;
      font-size: 16px;
    }
    dd {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

.guidance-notes {
  margin-top: 10px;
}

.guidance-notes a[rel="external"]:after,
.font-xsmall a[rel="external"]:after {
  background-position: right 2px;
}

// Inline add to my referrals

.done {
  background-color: mix(white, $turquoise, 90%);
  // background-color: $grey-4;
  td {
    // text-align: right;
    padding: 20px 0px;
    position: relative;
    border-left: 6px solid $turquoise;
    padding-left: 20px;
    a {
      display: block;
      text-align: right;
      position: absolute;
      right: 10px;
      top: 20px;
    }
  }
}

.cleared,
.cleared-stats {
  background-color: $grey-4;
}

.cleared-stats {
  margin-top: -21px;
  border-left: 15px solid $page-colour;
  padding-top: 20px;
  padding-bottom: 15px;
}

.keyline {
  padding-bottom: 5px;
  border-bottom: 1px solid $border-colour;
}

// Sortable tables

.sortable thead th {
  cursor: pointer;
  color: $govuk-blue;
  padding-right: 0;
  &:hover {
    text-decoration: underline;
    color: $link-hover-colour;
  }
  span {
    padding-right: 14px;
    background-repeat: no-repeat;
    background-position: right 6px;
  }
}

.sorting_asc span {
  background-image: url(/public/images/icons/arrow-small-up-blue.svg);
}

.sorting_desc span {
  background-image: url(/public/images/icons/arrow-small-down-blue.svg);
  background-position: right 7px;
}

.big-number {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.2;
}

dl.stat-listing {
  dt {
    float: left;
    width: 80%;
    margin-bottom: 5px;
  }
  dd {
    text-align: right;
    float: right;
    width: 20%;
  }
}

.floated-stats {
  overflow: hidden;
  dl.big-number {
    float: left;
    margin-right: 20px;
    display: inline-block;
  }
  dl.stat-listing {
    width: 200px;
    float: left;
    margin-top: 12px;
  }

}

ul.tabs li {
  background: $page-colour;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid $page-colour;
  text-decoration: underline;
  color: $govuk-blue;
  text-decoration: none;
  background-color: $grey-3;
  &:hover {
    color: $link-hover-colour;
  }
  &.current {
    span {
      position: relative;
      bottom: -1px;
    }
  }
}

// Fixed table headers

.fixedHeader-floating {
  position: fixed;
  background-color: $page-colour;
} 

.fixedHeader-floating th {
  border-bottom: 2px solid $border-colour;
}

.sortable tbody tr:hover, 
.sortable tbody tr:hover td.cleared {
  background-color: $grey-4;
  background-color: rgba(0,0,0,0.03);
}

.sortable th,
.sortable td {
  text-align: right;
}

.sortable th:first-child,
.sortable td:first-child {
  text-align: left;
}








