// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// Utility classes used for nudging spacing
@import 'utility';

// Font Overrides
*:not(.token) {
  font-family: $Helvetica-Regular !important; 
}
#proposition-name {
  font-family: $Helvetica-Regular !important;
}

.example * {
  font-family: 'nta', Helvetica, Arial, sans-serif;
}
@import 'prism';
@import 'tabbing';
@import 'example-box';
@import 'remove-items-from-list';
@import 'admin-menu';

.dwplogo {
  margin-top: -2px !important;
  font-size: 30px !important;
  background: none !important;
}

.built-by-dwp {
    font-size: 16px;
}

.example-caption {
  margin-bottom: 35px;
}

.alpha-tag{
  @include phase-tag(alpha);
}

.phase-banner  {
  @include phase-banner(alpha);
  @include phase-banner(beta);
}

// form styles
legend {
	font-weight: 700;
}

.form-control {
  width: 100%;
  max-width: 350px;
}

.form-control-1-4, 
.postcode {
  max-width: 200px;
  margin-right: 10px;
}

// input[type="file"] {
//   text-align: baseline;
// }

.file-upload {
  background-color: $panel-colour;
  padding: 20px 16px 20px 21px;
  line-height: 0;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid $panel-colour;
  text-indent: -5px;
  // font-size: 12px;
  &:hover, &:focus {
    border-color: $black;
  }
}

.left-col {
  width: 25%;
}

.sec-link a, sec-link a:visited {
  color: #666;
}

.button.text {
  background: none;
  border-color: #FFFFFF;
  color: $link-colour;
  text-decoration: underline;
  box-shadow: none;
  &:hover, &:focus {
    color: $link-hover-colour;
  }
  &:active {
    top: 0;
  }
}

// declaration
.legal_message {
	margin: 30px 0 30px;
	padding-left: 60px;
	background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
	background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
	background-size: 34px 34px
}

// Helvetica baseline nudges
.button {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
// End of Helvetica baseline nudges


.clear {
  clear: both;
}


// Navigation pri

.nav {
  background-color: $panel-colour;
  overflow: hidden;
}

.nav-inner {
  max-width: 960px;
  margin: 0 auto;
}

.nav-pri {
  width: 500px;
  float: left;
  margin: 0;
  li {
    float: left;
    margin: 0;
    a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      color: $text-colour;
      margin-right: none;
      margin-left: 0;
    }
    a:hover {
      background-color: $grey-4;
    }
    &.cur a,
    &.cur a:hover {
      background-color: $turquoise;
      font-weight: bold;
      color: $page-colour;
    }
  }
}

.nav-account {
  padding: 15px 0 15px 0;
  width: 300px;
  float: right;
  text-align: right;
  margin: 0;
}


// Tabs


.tabs {
  // background-color: red;
  border-bottom: 1px solid $border-colour;
  margin-bottom: 20px;
  // padding-bottom: 5px;
}


.tabs ul {
  margin-bottom: 40px;
  padding-bottom: 5px;
  display: block;
}

.tabs ul li {
  background: $page-colour;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid $panel-colour;
  background-color: $panel-colour;
  color: $govuk-blue;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  &:hover {
    color: $link-hover-colour;
  }
}

.tabs ul li.current {
  color: $text-colour;
  text-decoration: none;
  border: 1px solid $border-colour;
  background-color: $page-colour;
  // position: relative;
  // top: 20px;
  border-bottom: 6px solid #fff;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

// Table styles 

.bold {
  font-weight: bold;
}

.col-heading {
  font-weight: bold;
  display: block;
  a {
    display: block;
    padding-bottom: 1px;
  }
}

.small-grey {
  color: #4a4f51;
  font-size: 14px;
}

.grey {
  color: #4a4f51;
}

.green {
  color: $green;
}


table a {
  text-decoration: none;
}

tr {
  vertical-align: top;
}

tbody td {
  padding-top: 9px;
  padding-bottom: 10px;
}

.heading-medium-large {
  font-size: 29px;
  font-weight: bold;
}

.ucb,
.urgent {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.urgent {
  color: #d44300;
}

.ucb {
  color: $red;
}

.due {
  color: $red;
}

.filters {
  clear: both;
  margin-bottom: 20px;

  h3 {
    display: inline-block;
    margin-right: 5px;
  }
  font-size: 16px;
  line-height: 20px;
  
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }

  select {
    font-size: 14px;
    list-style: 20px;
    background-color: $page-colour;
  }

}

.sidebar {
  background-color: $highlight-colour;
  padding: 15px;
  margin-bottom: 15px;
}

ul.action-list {
  li {
    margin-bottom: 10px;
  }
}

.print {
  background-image: url(/public/images/icons/print.svg);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 28px;
  background-position: 0 9px;
  position: absolute;
  top: 49px;
  right: 0;

}

.position-relative {
  position:relative;
}

// header

#global-header.with-proposition .header-wrapper .header-global {
  width: 20%;
}

#global-header.with-proposition .header-wrapper .header-proposition {
  width: 48%;
}

// header search

.site-search {
  position: relative;
}

.site-search input[type="search"]{
  width: 254px;
  margin-right: 37px;
  font-size: 16px;
  line-height: 1.4375;
  font-weight: 400;
  position: relative;
  padding: 6px;
  z-index: 3;
  box-sizing: border-box;
  float: right;
  right: 37px;
  min-width: 0;
  display: block;
  margin: 0;
  border: 0;
  min-height: 36px;
}

.site-search input[type=submit]{
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border: 1px solid $black;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: $page-colour;
  background-color: $turquoise;
  background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}





