{% from "../macros/version.html" import versionNumber %}
{% set section = "account" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
  Log in - Visiting Service Management System
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="form-title heading-xlarge m-b-xl">
          Log in
        </h1>

        <!-- Full name -->
        <div class="form-group m-b-ml">
          <label class="form-label m-b-xs" for="email">Email address</label>
          <input type="text" class="form-control" id="email">
        </div>

        <!-- Full name -->
        <div class="form-group m-b-ml">
          <label class="form-label m-b-xs" for="password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Log in">
        </div>

      </form>

      <p><a href="#">Forgotten your password?</a></p>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}