{% from "../macros/version.html" import versionNumber %}
{% set section = "management-information" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
  Management information - Visiting Service Management System
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-xlarge m-b-xl">
        Management information
      </h1>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}