{% from "../macros/version.html" import versionNumber %}
{% set section = "management-information" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
  Reports - Management information - Visiting Service Management System
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-third">
      <h1 class="form-title heading-large m-b-xl">
      Reports
      </h1>
    </div>{# /column-third #}

    <div class="column-third m-t-xl">
      <label for="team" class="m-b-xs">Team</label>
      <p>
      <select id="team" data-placeholder="Beeston, Nottinghamshire" class="chosen-select" tabindex="2">
        <option value=""></option>
        {% include "includes/visiting-offices-select.html" %}
      </select>
      </p>
    </div>{# /column-third #}

    <div class="column-third m-t-xl">
      <label for="team-member">Team member</label>
      <p>
      <select id="team-member" data-placeholder="Whole team" class="chosen-select" tabindex="2">
        <option value=""></option>
        <option value="#">Aaron Kirk</option>
        <option value="#">Amy Shackelford</option>
        <option value="#">Angelo Pullman</option>
        <option value="#">Audra Earwood</option>
        <option value="#">Dwain Pollan</option>
        <option value="#">Geneva Nieto</option>
        <option value="#">Haywood Rayl</option>
        <option value="#">Heidi Garoutte</option>
        <option value="#">Helene Everson</option>
        <option value="#">Henry Whitely</option>
        <option value="#">Holli Crooker</option>
        <option value="#">Jazmin Maner</option>
        <option value="#">Katheleen Baylis</option>
        <option value="#">Kimbery Samson</option>
        <option value="#">Laci Guerrero</option>
        <option value="#">Magnolia Guo</option>
        <option value="#">Noemi Brasher</option>
        <option value="#">Reed Hamler</option>
        <option value="#">Sherlene Holderman</option>
        <option value="#">Velda Brunson</option>
      </select>
      </p>
    </div>{# /column-third #}

  </div>{# /grid-row #}

  

  <div class="filter-wrap">
    
  </div>{# /filter-wrap #}

  <div class="filter-wrap">
    
  </div>{# /filter-wrap #}

  <div class="nav-tabbed m-t-xl" id="tabs">
    <ul>
      <li class="current"><span>Last week</span></li>
      <li><a href="week-so-far-referral-types#tabs"><span>This month</span></a></li>
      <li><a href="week-so-far-referral-types#tabs"><span>This year</span></a></li>
      <li><a href="week-so-far-locations#tabs"><span>Custom date range</span></a></li>
    </ul>
    <div class="clear"></div>
  </div>{# /nav-tabbed #}

  <div class="grid-row m-t-l">

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0 m-b-0">Received</h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>212</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>Jobcentres:</dt>
        <dd>5</dd>
        <dt>Third-party referrals:</dt>
        <dd>0</dd>
        <dt>Other visiting teams:</dt>
        <dd>8</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0 m-b-0">Bookings</h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>189</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>Unsafe areas:</dt>
        <dd>13</dd>
        <dt>UCB:</dt>
        <dd>12</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0 m-b-0">Visits</h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>165</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>With interpreter:</dt>
        <dd>8</dd>
        <dt>Interpreter still needed:</dt>
        <dd>3</dd>
        <dt>Unsafe areas:</dt>
        <dd>13</dd>
        <dt><abbr title="unacceptable customer behaviour">UCB</abbr>:</dt>
        <dd>12</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div class="column-one-quarter cleared-stats">
      <h3 class="heading-medium m-t-0 m-b-0">Cleared referrals</h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>163</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>Cleared by phone:</dt>
        <dd>5</dd>
        <dt>Customer unavailable:</dt>
        <dd>8</dd>
        <dt>Marked as duplicate:</dt>
        <dd>0</dd>
        <dt>Rejected:</dt>
        <dd>6</dd>
      </dl>
    </div>{# /cleared #}

  </div>{# /grid-row #}

  <hr>

  <div class="grid-row">
{# 
    <img src="/public/images/charts/stats.png"> #}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Target 1', 20],
          ['Target 2', 60],
          ['Target 3', 30],
          ['Missed', 10]
        ]);

        var options = {
          // title: 'Target bookings',
          legend: 'none',
          pieSliceText: 'none',
          backgroundColor: 'transparent',
          chartArea: {
            height: 11600,
            top: 0,
            left: 0
          },
          slices: {
            0: {color: '#85994e'},
            1: {color: '#fdc053'},
            2: {color: '#af1e2b'},
            3: {color: '#0c0102'}
          },
          // legend: {
          //   textStyle: {color: 'red'}
          // }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0">Target bookings</h3>
      <dl class="stat-listing target-legend font-xsmall">
        <dt class="t1">Target 1:</dt>
        <dd>20</dd>
        <dt class="t2">Target 2:</dt>
        <dd>60</dd>
        <dt class="t3">Target 3:</dt>
        <dd>30</dd>
        <dt class="t4">Target 4:</dt>
        <dd>10</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div id="piechart" class="column-three-quarters"></div>

  </div>{# /grid-row #}

</main>

{% endblock %}