{% from "../macros/version.html" import versionNumber %}
{% set section = "management-information" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
  This week so far - Management information - Visiting Service Management System
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  {% include "v1/management-information/includes/week-so-far-summary.html" %}

  <div class="nav-tabbed m-t-xl" id="tabs">
    <ul>
      <li><a href="week-so-far-index#tabs"><span>Team members</span></a></li>
      <li><a href="week-so-far-referral-types#tabs"><span>Referral types</span></a></li>
      <li class="current"><span>Locations</span></li>
    </ul>
    <div class="clear"></div>
  </div>{# /nav-tabbed #}

  {% include "v1/management-information/includes/table-locations.html" %}

</main>

{% endblock %}