{% from "../macros/version.html" import versionNumber %}
{% set section = "management-information" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
  This week so far - Management information - Visiting Service Management System
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <h1 class="form-title heading-large m-b-xl">
    This week so far&nbsp;&nbsp;<span class="heading-secondary" style="display:inline-block">Monday, 5 September &ndash; now</span>
  </h1>

  <h2 class="heading-medium keyline m-b-xs">New referrals received</h2>

  <div class="floated-stats">
    <dl class="big-number">
      <dt class="visually-hidden">Total:</dt>
      <dd>20</dd>
    </dl>
    <dl class="stat-listing font-xsmall floated-stats">
      <dt>Jobcentres:</dt>
      <dd>5</dd>
      <dt>Third-party referrals:</dt>
      <dd>0</dd>
      <dt>Other visiting teams:</dt>
      <dd>8</dd>
    </dl>
  </div>{# /floated-stats #}

  <h2 class="heading-medium keyline m-t-l">In progress</h2>

  <div class="grid-row">

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0 m-b-0"><a href="/{{ versionNumber() }}/referrals/available-referrals">Available</a></h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>54</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>Received:</dt>
        <dd>37</dd>
        <dt>Reviewed:</dt>
        <dd>7</dd>
        <dt>Transferred:</dt>
        <dd>10</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0 m-b-0"><a href="/{{ versionNumber() }}/referrals/team-referrals-pending">Pending</a></h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>15</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>Urgent:</dt>
        <dd>3</dd>
        <dt>Unsafe areas:</dt>
        <dd>13</dd>
        <dt><abbr title="unacceptable customer behaviour">UCB</abbr>:</dt>
        <dd>12</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div class="column-one-quarter">
      <h3 class="heading-medium m-t-0 m-b-0"><a href="/{{ versionNumber() }}/referrals/team-referrals-booked">Booked</a></h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>11</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>With interpreter:</dt>
        <dd>8</dd>
        <dt>Interpreter still needed:</dt>
        <dd>3</dd>
        <dt>Unsafe areas:</dt>
        <dd>13</dd>
        <dt><abbr title="unacceptable customer behaviour">UCB</abbr>:</dt>
        <dd>12</dd>
      </dl>
    </div>{# /column-one-quarter #}

    <div class="column-one-quarter cleared-stats">
      <h3 class="heading-medium m-t-0 m-b-0">Cleared referrals</h3>
      <dl class="big-number">
        <dt class="visually-hidden">Total:</dt>
        <dd>19</dd>
      </dl>
      <dl class="stat-listing font-xsmall">
        <dt>Cleared by phone:</dt>
        <dd>5</dd>
        <dt>Customer unavailable:</dt>
        <dd>8</dd>
        <dt>Marked as duplicate:</dt>
        <dd>0</dd>
        <dt>Rejected:</dt>
        <dd>6</dd>
      </dl>
    </div>{# /cleared #}

  </div>{# /grid-row #}


  <div class="container">

    <div class="nav-tabbed m-t-xl">
      <ul class="tabs">
        <li class="current" data-tab="tab-1"><span>Team members</span></li>
        <li data-tab="tab-2"><span>Referral types</span></li>
        <li data-tab="tab-3"><span>Locations</span></li>
      </ul>
      <div class="clear"></div>
    </div>{# /nav-tabbed #}

    <div id="tab-1" class="tab-content current">

      <table>
        <tr>
          <th style="width: 22%">&nbsp;</th>
          <th style="width: 24%"colspan="2"><span class="heading-small">In progress</span></th>
          <th colspan="4"><span class="heading-small p-l-xs">Cleared</span></th>
        </tr>
      </table>

      <table class="sortable">
        <thead>
          <tr>
            <th style="width: 22%"><span>Team member</span></th>
            <th style="width: 12%"><span>Pending</span></th>
            <th style="width: 12%"><span>Booked</span></th>
            <th style="width: 12%" class="cleared p-l-xs"><span>Total</span></th>
            <th class="cleared"><span>By phone</span></th>
            <th class="cleared"><span>Customer unavailable</span></th>
            <th class="cleared"><span>Rejected</span></th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Aaron Kirk</td>
          <td>2</td>
          <td>2</td>
          <td class="cleared p-l-xs">2</td>
          <td class="cleared">2</td>
          <td class="cleared">2</td>
          <td class="cleared">1</td>
        <tr>
          <td>Amy Shackelford</td>
          <td>6</td>
          <td>6</td>
          <td class="cleared p-l-xs">6</td>
          <td class="cleared">6</td>
          <td class="cleared">6</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Angelo Pullman</td>
          <td>1</td>
          <td>1</td>
          <td class="cleared p-l-xs" class="cleared">1</td>
          <td class="cleared">1</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Audra Earwood</td>
          <td>5</td>
          <td>2</td>
          <td class="cleared p-l-xs">1</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Dwain Pollan</td>
          <td>9</td>
          <td>0</td>
          <td class="cleared p-l-xs">1</td>
          <td class="cleared">0</td>
          <td class="cleared">0</td>
          <td class="cleared">2</td>
        </tr>
        <tr>
          <td>Geneva Nieto</td>
          <td>4</td>
          <td>0</td>
          <td class="cleared p-l-xs">5</td>
          <td class="cleared">0</td>
          <td class="cleared">3</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Haywood Rayl</td>
          <td>0</td>
          <td>1</td>
          <td class="cleared p-l-xs">4</td>
          <td class="cleared">0</td>
          <td class="cleared">2</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Heidi Garoutte</td>
          <td>5</td>
          <td>1</td>
          <td class="cleared p-l-xs">0</td>
          <td class="cleared">2</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Helene Everson</td>
          <td>0</td>
          <td>1</td>
          <td class="cleared p-l-xs">2</td>
          <td class="cleared">0</td>
          <td class="cleared">5</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Henry Whitely</td>
          <td>1</td>
          <td>2</td>
          <td class="cleared p-l-xs">5</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Holli Crooker</td>
          <td>2</td>
          <td>0</td>
          <td class="cleared p-l-xs">3</td>
          <td class="cleared">1</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Jazmin Maner</td>
          <td>2</td>
          <td>0</td>
          <td class="cleared p-l-xs">1</td>
          <td class="cleared">3</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Katheleen Baylis</td>
          <td>2</td>
          <td>0</td>
          <td class="cleared p-l-xs">3</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Kimbery Samson</td>
          <td>2</td>
          <td>0</td>
          <td class="cleared p-l-xs">0</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Laci Guerrero</td>
          <td>2</td>
          <td>0</td>
          <td class="cleared p-l-xs">1</td>
          <td class="cleared">2</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
        </tr>
        <tr>
          <td>Magnolia Guo</td>
          <td>3</td>
          <td>0</td>
          <td class="cleared p-l-xs">2</td>
          <td class="cleared">0</td>
          <td class="cleared">1</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Noemi Brasher</td>
          <td>0</td>
          <td>0</td>
          <td class="cleared p-l-xs">0</td>
          <td class="cleared">0</td>
          <td class="cleared">0</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Reed Hamler</td>
          <td>1</td>
          <td>0</td>
          <td class="cleared p-l-xs">2</td>
          <td class="cleared">0</td>
          <td class="cleared">0</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Sherlene Holderman</td>
          <td>3</td>
          <td>1</td>
          <td class="cleared p-l-xs">0</td>
          <td class="cleared">0</td>
          <td class="cleared">4</td>
          <td class="cleared">0</td>
        </tr>
        <tr>
          <td>Velda Brunson</td>
          <td>2</td>
          <td>2</td>
          <td class="cleared p-l-xs">0</td>
          <td class="cleared">2</td>
          <td class="cleared">0</td>
          <td class="cleared">2</td>
        </tr>
        </tbody>

      </table>

    </div>{# /tab-1 #}

    <div id="tab-2" class="tab-content">
      <p>Some stuff</p>
    </div>{# /tab-2 #}

    <div id="tab-3" class="tab-content">
      <p>Some more stuff</p>
    </div>{# /tab-3 #}

  </div>{# /container #}

</main>

{% endblock %}