{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Available referrals - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <h1 class="form-title heading-large m-b-xl">Referrals</h1>

  <div class="container">

      <div class="nav-tabbed">

        <ul>
          <li class="current"><span>Available referrals (<span id="available-refs-total">54</span>)</span></li>
          <li><a href="team-referrals"><span>Team referrals (<span id="team-refs-total">26</span>)</span></a></li>
          <li><a href="my-referrals"><span>My referrals (<span id="my-refs-total">5</span>)</span></a></li>
        </ul>

        <div class="clear"></div>

      </div>{# /nav-tabbed #}

      <div class="filters">

        <h3>Showing</h3>
        <ul>  
          <li class="bold">All</li>
          <li><a href="available-referrals-ucb">UCB</a></li>
          <li><a href="available-referrals-unsafe-areas">Unsafe areas</a></li>
        </ul>
{#         &nbsp;&nbsp;
        <h3>Sort by</h3>
        <select name="select">
          <option value="" selected>Urgency</option> 
          <option value="">Target date</option>
        </select> #}

      </div>{# /filters #}

      <table id="searchable-table" class="available m-b-l truncate display">
        <thead>
          <tr>
            <th class="col-1">Target</th>
            <th class="col-2">Customer</th>
            <th class="col-3">Referral type</th>
            <th class="col-4">Visit address</th>
            <th class="col-5">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="date">
              05 Sept<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="referral-details-peter-arnold-received">Peter Arnold</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Kirkby-in-Ashfield<br />NG19 9JU</td>
            <td class="add">
              <a href="referral-details-peter-arnold-assigned-to-me" class="button own" id="testing">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              30 Aug<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Francis McBrien</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              Fairer charging review
              <br />
              <small class="small-grey">Transferred from Leeds</small>
            </td>
            <td>Sneinton<br />NG2 6TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              02 Sept<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Jade Smith</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>
              <abbr title="Personal Independent Payment">PIP</abbr> claim
              <br />
              <small class="small-grey">Reviewed by Sarah Owen</small>
            </td>
            <td>Papplewick<br />NG4 8TU &nbsp;<span class="ucb">Unsafe</span></td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              04 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
                <span class="target-3"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Louise Jones</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              Under 18 DLA claim completion
              <br />
              <small class="small-grey">Reviewed by Frank Jones</small>
            </td>
            <td>Long Eaton<br/>NG4 6DX</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              04 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
                <span class="target-3"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Graham Bart Perkins-Phillips</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
               <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Mansfield<br />NG14 2AY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              05 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
                <span class="target-3"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Gemma Rigby</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG4 7TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              10 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Margaret Smith</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Mansfield<br />NG14 2AY &nbsp;<span class="ucb">Unsafe</span></td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              11 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Stephen McCulkin</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Bramcote<br />NG1 6TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              12 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Gaynor Williams</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              Learning focused interview
              <br />
              <small class="small-grey">Reviewed by Neil Jenkins</small>
            </td>
            <td>Gotham<br/>NG9 4YT</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              21 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Carl Johnson</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>
              Habitual residence
              <br />
              <small class="small-grey">Reviewed by Paul Roberts</small>
            </td>
            <td>West Bridgford<br />
            NG1 1BB</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Sarah Willingham</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              Disability claim
              <br />
              <small class="small-grey">Reviewed by Sandra Smith</small>
            </td>
            <td>Kirkby-in-Ashfield<br />NG19 89J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Kennith Carter</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Kirkby-in-Ashfield<br />NG22 8TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">William Michaels</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              Disability claim
              <br />
              <small class="small-grey">Reviewed by Sandra Smith</small>
            </td>
            <td>Kirkby-in-Ashfield<br />NG19 89J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Janice Brent</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG9 4XZ</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">William Michaels</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              Disability claim
              <br />
              <small class="small-grey">Reviewed by Sandra Smith</small>
            </td>
            <td>Kirkby-in-Ashfield<br />NG19 89J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Cody Jones</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG1 2YZ</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Stefan Burnham</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Reviewed by Sandra Smith</small>
            </td>
            <td>Bramcote<br />NG11 27J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Andrew Parkinson</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG0 1XZ</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Michael McBean</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Swanwick<br />NG11 29J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Sid Owen</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Beeston<br />NG9 1TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Karl Michaels</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG11 89J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Sophie Counter</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG7 2TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Charlie Goode</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG16 29J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Guarav Roshi</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG1 2XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Christopher Downe</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG17 0XC</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Partick Hawthorpe</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Beeston<br />NG11 49J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Matthew Rodgers</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG9 12XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">John Brighton</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG17 2TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Sonia Reece</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG16 29J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Paula Norris</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG9 12XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Jermaine Cross</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Kirkby-in-Ashfield<br />NG17 1RT</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Florence Jurt</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Bramcote<br />NG9 19J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Sanjay Balentine</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG11 9XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Karl Kennedy</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Beeston<br />NG9 5TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Caroline Jenkins</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG9 19J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">William Norris</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG11 2XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Graham Rentingham</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Stapleford<br />NG17 2TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Karen Owen</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG8 7TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Samantha Collinson</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG5 4RP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Christopher Jones</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG12 6EF</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Florence Owen</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG8 3OP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Amy Wingham</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Bramcote<br />NG9 4FT</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Arthur Brown</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Beeston<br />NG71 7FG</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Kelly Napier</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG2 6TH</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Iain Owen Smith</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG3 8XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Fredrick MacBrien</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Chilwell<br />NG7 2TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Margaret Birchall</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Stapleford<br />NG8 6KO</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Kelly Louise Churchill</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG1 2XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Jonathan Little</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Bramcote<br />NG3 2TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Amy Hull</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG16 29J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Catherine Swannel</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Long Eaton<br />NG1 2XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Charlotte Smith</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Beeston<br />NG17 2TY</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Peter Rillingham</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Bramcote<br />NG6 29J</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Mathew Spittle</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>
              &mdash;
              <br />
              <small class="small-grey">Received</small>
            </td>
            <td>Carlton<br />NG1 2XP</td>
            <td class="add">
              <a href="#"class="button">Own</a>
            </td>
          </tr>
          
        </tbody>
      </table>

  </div>{# /container #}

</main>

{% endblock %}