{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Referral details - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-thin">

      <form>

        <div class="form-group">

          <h1 class="form-title heading-medium m-b-l">
            <span class="heading-secondary">
              Book a visit
            </span>
            Graham Highfields
          </h1>

          <fieldset>
            
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dob-day">Day</label>
                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="dob-month">Month</label>
                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>
              <div class="form-group">
                <label for="year" class="form-label">Year</label>
                <select id="year" class="form-control" style="min-width: 80px; position-relative; height: 37px;">
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
            </div>
          </fieldset>

        </div>{# /form-group #}

        <div class="form-group">

          <div class="form-group">
            <label for="start-time" class="form-label">Start time</label>
            <span class="form-hint m-b-xs">For example, 10:00am</span>
            <input id="start-time" type="text" class="form-control form-control-1-4">
          </div>

          <div class="form-group">
            <label for="end-time" class="form-label">End time</label>
            <span class="form-hint m-b-xs">For example, 12:00pm</span>
            <input id="end-time" type="text" class="form-control form-control-1-4">
          </div>

          <p>6 Camdale Road,<br />
            Meanwood,<br />
            Leeds,<br />
            LS6 4BB
          </p>

          <div style="position: relative; left: -5px;">
          <p class="m-b-s"><label><input type="checkbox"> Interpreter needed</label></p>
          <p><label><input type="checkbox"> Send an email prompt</label></p>
          </div>

          <div class="clear"></div>

        </div>{# /form-group #}

        <div class="form-group">
          <a href="referral-details-graham-highfields-booked"class="button">Book visit</a>
          <a href="referral-details-graham-highfields" class="button text">Cancel</a>
        </div>

      </form>


    </div>{# /column-thin #}

    <div class="column-wide">

      {% include "includes/calendar.html" %}

    </div>{# /column-wide #}

  </div>{# /grid-row #}

</main>

{% endblock %}