{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Referral details - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

    <h1 class="heading-large">Book a visit</h1>

    {% include "includes/calendar.html" %}

  </div>{# /grid-row #}

</main>

{% endblock %}