{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Referral details - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

    <a href="../referrals/referral-details-graham-highfields" class="link-back">Graham Highfields</a>

    <h1 class="heading-large">Book a visit</h1>
    <p class="lede">Choose a time for John Wilcox to visit Graham Highfields</p>

{#     <p>Benefits entitlement check<br />
    6 Camdale Road, Meanwood, Leeds, LS6 4BB</p> #}

    <div class="calendar-header">

      <h3 class="heading-small m-t-0 m-b-0">12 – 17 Sept 2016</h3>

      <ul>
        <li><a href="book-visit" class="blocky-link prev">&laquo; Previous week</a></li>
        <li><a href="book-visit-week-3" class="blocky-link next">Next week &raquo;</a></li>
        <li><a href="book-visit" class="blocky-link this-week">Today</a></li>
      </ul>
      
    </div>

    {% include "v1/referrals/includes/calendar-week-2.html" %}

  </div>{# /grid-row #}

</main>

{% endblock %}