{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Referral details - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

    <a href="../referrals/referral-details-graham-highfields-booked" class="link-back">Graham Highfields</a>

    <div class="panel panel-border-wide alert-success m-t-l">
    <p>Visit booked for Wednesday, 7 September 2016 at 10:00 &ndash; 10:45</p>
    <p><a href="referral-details-graham-highfields-booked" class="button">Finish</a></p>
  </div>

{#     <p>Benefits entitlement check<br />
    6 Camdale Road, Meanwood, Leeds, LS6 4BB</p> #}


    {% include "v1/referrals/includes/calendar-week-1-complete.html" %}

  </div>{# /grid-row #}

</main>

{% endblock %}