{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 My referrals - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <h1 class="form-title heading-large m-b-xl">Referrals</h1>

  <div class="container">

    <div class="nav-tabbed">

      <ul>
        <li><a href="available-referrals"><span>Available referrals (54)</span></a></li>
        <li><a href="team-referrals"><span>Team referrals (26)</span></a></li>
        <li class="current"><span>My referrals (5)</span></li>
      </ul>

      <div class="clear"></div>

    </div>{# /nav-tabbed #}

    <div class="filters">

        <h3>Showing</h3>
        <ul>  
          <li class="bold">All</li>
          <li><a href="my-referrals-pending">Pending</a></li>
          <li><a href="my-referrals-booked">Booked</a></li>
          <li><a href="my-referrals-ucb">UCB</a></li>
          <li><a href="my-referrals-unsafe-areas">Unsafe areas</a></li>
        </ul>
        &nbsp;&nbsp;
        <h3>Sort by</h3>
        <select name="select">
          <option value="" selected>Urgency</option> 
          <option value="">Target date</option>
        </select>

      </div>{# /filters #}

      <table id="searchable-table" class="m-b-l truncate display">
        <thead>
          <tr>
            <th class="col-1">Target</th>
            <th class="col-2">Customer</th>
            <th class="col-3">Referral type</th>
            <th class="col-4">Status</th>
            <th class="col-5">Visit address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="date">
              30 Aug<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="referral-details-paul-stokes">Paul Stokes</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td><abbr title ="Personal Independent Payment">PIP</abbr> claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 25 July</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Beeston<br />NG9 1BB</td>
          </tr>
          <tr>
            <td class="date">
              30 Aug<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Hannah Peterson</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>Overpayment delivery - civil penalty</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 25 July</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Long Eaton<br />NG4 6DX</td>
          </tr>
          <tr>
            <td class="date">
              20 Sept<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Bart <span style="display:inline-block">Perkins-Phillips</span></a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>Learning focused interview</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Papplewick<br />NG4 8TU</td>
          </tr>
          <tr>
            <td class="date">
              04 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
                <span class="target-3"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Karl Rainer</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td><abbr title ="Personal Independent Payment">PIP</abbr> claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Mansfield<br />NG12 7UJ</td>
          </tr>
          <tr>
            <td class="date">
              15 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Sam Kramer</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td><abbr title ="Personal Independent Payment">PIP</abbr> claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Mansfield<br />NG12 7UJ</td>
          </tr>
        </tbody>
      </table>

  </div>{# /container #}

</main>

{% endblock %}