{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 New referrals - Visiting Service Management System  
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <h1 class="form-title heading-large m-b-xl">Referrals</h1>

  <div class="container">

      <div class="nav-tabbed">

        <ul>
          <li class="current"><span>New referrals</span></li>
          <li><a href="team-referrals"><span>Team referrals</span></a></li>
          <li><a href="my-referrals"><span>My referrals</span></a></li>
        </ul>

        <div class="clear"></div>

      </div>{# /nav-tabbed #}

      <div class="filters">

        <h3>Showing</h3>
        <ul>  
          <li><a href="new-referrals">All</a></li>
          <li class="bold">Received</li>
          <li><a href="new-referrals-reviewed">Reviewed</a></li>
        </ul>
        &nbsp;&nbsp;
        <h3>Sort by</h3>
        <select name="select">
          <option value="" selected>Most urgent first</option> 
          <option value="">Date added (latest first)</option>
        </select>

      </div>{# /filters #}

      <table id="searchable-table" class="m-b-l truncate display">
        <thead>
          <tr>
            <th class="col-1">&nbsp;</th>
            <th class="col-2">Target date</th>
            <th class="col-3">Customer</th>
            <th class="col-4">Referral type</th>
            <th class="col-5">Status</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="urgent">Urgent</span></td>
            <td><span class="bold due">12 July</span></td>
            <td>
              <span class="col-heading"><a href="/{{ versionNumber() }}/referrals/referral-details-peter-arnold">Peter Arnold</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>&mdash;</td>
            <td>
              <span class="col-heading grey"><span class="sticker">Not assigned</span></span>
              <small class="small-grey">Transferred from Leeds</small>
            </td>
            <td>Mansfield, Nottingham<br />NG14 2AY</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="bold due">13 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Graham Highfields</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>&mdash;</td>
            <td>
              <span class="col-heading grey"><span class="sticker">Not assigned</span></span>
              <small class="small-grey">Reviewed by Sandra&hellip;</small>
            </td>
            <td>Wollaton, Nottingham<br />NG4 8HU</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="">25 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Margaret Smith</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>&mdash;</td>
            <td>
              <span class="col-heading grey"><span class="sticker">Not assigned</span></span>
              <small class="small-grey">Transferred from Lincoln</small>
            </td>
            <td>Chilwell, Nottingham<br />NG9 4YT</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="">28 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Margaret MacBean</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>&mdash;</td>
            <td>
              <span class="col-heading grey"><span class="sticker">Not assigned</span></span>
              <small class="small-grey">Rejected by Patrick&hellip;</small>
            </td>
            <td>Long Eaton, Nottingham<br />NG2 9PT</td>
          </tr>
        </tbody>
      </table>

  </div>{# /container #}

</main>

{% endblock %}