{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="../referrals/team-referrals" class="link-back">Back to referrals</a>
    </div>

  </div>{# /grid-row #}

  <div class="panel panel-border-wide alert-success m-t-l">
    <p>Visit booked</p>
  </div>

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <div style="float:left; width:80%;">
      <h1 class="form-title heading-large m-b-l">Graham Highfields</h1>
    </div>

    <div style="float:right; width:15%;">
      <a href="" class="print font-xsmall">Print</a>
    </div>

    <div class="nav-tabbed">

      <ul>
        <li class="current"><span>Referral details</span></li>
        <li><a href="referral-details-graham-highfields-activity-history"><span>Activity history (3)</span></a></li>
      </ul>

      <div class="clear"></div>

    </div>{# /nav-tabbed #}

    {% include "v1/referrals/includes/details-graham-highfields.html" %}

  </div>{# /column-two-thirds #}

  <div class="column-one-third">

    <div class="sidebar primary booked">
      <h4 class="heading-medium m-t-0 m-b-xs status-heading booked">Booked</h4>
      <h5 class="heading-small m-t-0 m-b-xs">25 July 11:00am &ndash; 11:30am</h5>
      <p class="font-xsmall">Assigned to John Wilcox</p>
      <ul class="action-list font-xsmall bold">
        <li><a href="#">Edit visit details</a></li>
        <li><a href="#">Cancel visit</a></li>
        <li><a href="#">Transfer to another visiting officer</a></li>
      </ul>
      {% include "v1/referrals/includes/record-outcome.html" %}
    </div>
    {# /sidebar #}

    {% include "v1/referrals/includes/dates-graham-highfields.html" %}

    {% include "v1/referrals/includes/cleared-sidebar.html" %}

  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}