{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="../referrals/team-referrals" class="link-back">Team referrals</a>
    </div>

  </div>{# /grid-row #}

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <h1 class="form-title heading-large m-b-l">Choose another visiting officer to assign this referral to</h1>

    <form>

    <fieldset class="form-group js-error-container">

      <legend class="c-legend c-legend--medium visuallyhidden"></legend>

      <label class="block-label" for="option1">
        <input id="option1" type="radio" name="options" value="1">
        Aaron Kirk 
      </label>

      <label class="block-label" for="option2">
        <input id="option2" type="radio" name="options" value="2">
        Amy Shackelford  
      </label>

      <label class="block-label" for="option3">
        <input id="option3" type="radio" name="options" value="3">
        Angelo Pullman
      </label>

      <label class="block-label" for="option4">
        <input id="option4" type="radio" name="options" value="4">
        Audra Earwood
      </label>

      <label class="block-label" for="option5">
        <input id="option5" type="radio" name="options" value="5">
        Dwain Pollan
      </label>

      <label class="block-label" for="option6">
        <input id="option6" type="radio" name="options" value="6">
        Geneva Nieto
      </label>

      <label class="block-label" for="option7">
        <input id="option7" type="radio" name="options" value="7">
        Haywood Rayl
      </label>

      <label class="block-label" for="option8">
        <input id="option8" type="radio" name="options" value="1">
        Heidi Garoutte 
      </label>

      <label class="block-label" for="option9">
        <input id="option9" type="radio" name="options" value="2">
        Helene Everson  
      </label>

      <label class="block-label" for="option10">
        <input id="option10" type="radio" name="options" value="3">
        Henry Whitely 
      </label>

      <label class="block-label" for="option11">
        <input id="option11" type="radio" name="options" value="4">
        Holli Crooker 
      </label>

      <label class="block-label" for="option12">
        <input id="option12" type="radio" name="options" value="5">
        Jazmin Maner 
      </label>

      <label class="block-label" for="option13">
        <input id="option13" type="radio" name="options" value="6">
        Katheleen Baylis  
      </label>

      <label class="block-label" for="option14">
        <input id="option14" type="radio" name="options" value="7">
        Kimbery Samson 
      </label>

      <label class="block-label" for="option15">
        <input id="option15" type="radio" name="options" value="1">
        Laci Guerrero
      </label>

      <label class="block-label" for="option16">
        <input id="option16" type="radio" name="options" value="2">
        Magnolia Guo  
      </label>

      <label class="block-label" for="option17">
        <input id="option17" type="radio" name="options" value="3">
        Noemi Brasher
      </label>

      <label class="block-label" for="option18">
        <input id="option18" type="radio" name="options" value="4">
        Reed Hamler 
      </label>

      <label class="block-label" for="option19">
        <input id="option19" type="radio" name="options" value="5">
        Sherlene Holderman 
      </label>

      <label class="block-label" for="option20">
        <input id="option20" type="radio" name="options" value="6">
        Velda Brunson
      </label>

    </fieldset>

    <p><a href="referral-details-graham-highfields-assigned-to-another" class="button">Assign this referral</a></p>

    </form>


   
  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}