{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="../referrals/team-referrals" class="link-back">Back to referrals</a>
    </div>

  </div>{# /grid-row #}

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <div style="float:left; width:80%;">
      <h1 class="form-title heading-large m-b-l">Graham Highfields</h1>
    </div>

    <div style="float:right; width:15%;">
      <a href="" class="print font-xsmall">Print</a>
    </div>

    <div class="nav-tabbed">

      <ul>
        <li class="current"><span>Referral details</span></li>
        <li><a href="referral-details-graham-highfields-comments"><span>Comments (3)</span></a></li>
      </ul>

      <div class="clear"></div>

    </div>{# /nav-tabbed #}

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs  m-t-l">
              Customer
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Customer details
          </td>
          <td>
            Mr<br>
            Graham Highfields<br>
            12/08/1984<br>
            QQ 12 35 56
          </td>
          <td class="change-answer">
            <a href="/v2/customer-details/edit">
              Change <span class="visuallyhidden">customer details</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Customer contact
          </td>
          <td>
            6 Camdale Road, Meanwood, Leeds<br>
            LS6 4BB<br>
            0115 9179 577<br>
            Large print<br>
            Welsh language
          </td>
          <td class="change-answer">
            <a href="/v2/customer-contact/edit">
              Change <span class="visuallyhidden">customer contact</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Representative
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td style="width: 30%">
            Representative details
          </td>
          <td>
            Potential <abbr title="Personal Acting Body">PAB</abbr> or <abbr title="Corporate Acting Body">CAB</abbr><br>
            Mr<br>
            Daniel Angel<br>
            Same as customer address<br>
            0115 787 897
          </td>
          <td class="change-answer">
            <a href="/v2/representative-details/edit">
              Change <span class="visuallyhidden">Site of export name</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Visit
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td style="width: 30%">
            About the visit
          </td>
          <td>
            Benefits entitlement check<br>
            Initial date of contact: 12/06/2016
          </td>
          <td class="change-answer">
            <a href="/v2/visit-details/edit">
              Change <span class="visuallyhidden">visit details</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Visit address
          </td>
          <td>
            17 Guy Close, Beeston, Nottingham, NG9 4FF
          </td>
          <td class="change-answer">
            <a href="/v2/visit-address/edit">
              Change <span class="visuallyhidden">visit address</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Visit information
          </td>
          <td>
            Aggressive customer<br>
            Use back door
          </td>
          <td class="change-answer">
            <a href="/v2/visit-other/edit">
              Change <span class="visuallyhidden">visit information</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

    <table class="check-your-answers m-b-xl">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Attachments
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td style="width: 30%">
            Files uploaded
          </td>
          <td>
            &mdash;
          </td>
          <td class="change-answer">
            <a href="/v2/attachments/edit">
              Change <span class="visuallyhidden">attachments</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

  </div>{# /column-two-thirds #}

  <div class="column-one-third">

    <div class="sidebar primary pending">
      <h4 class="heading-medium m-b-xs m-t-0 status-heading pending">Pending</h4>
      <p class="font-xsmall">Assigned to John Wilcox</p>
      <p><a href="book-visit" class="button">Book visit</a></p>
      <ul class="action-list font-xsmall bold">
        <li><a href="#">Assign to me</a></li>
        <li><a href="#">Return to team</a></li>
        <li><a href="#">Assign to another visiting officer</a></li>
        <li><a href="#">Transfer to another team</a></li>
        <li><a href="#">Mark as urgent</a></li>
      </ul>
    </div>
    {# /sidebar #}

    {% include "v1/referrals/includes/cleared-sidebar.html" %}

  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}