{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Referral details - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="../referrals" class="link-back">Back to referrals</a>

    </div>

  </div>{# /grid-row #}

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <h1 class="form-title heading-large m-b-xs">Referral details</h1>

    <a href="" class="print font-xsmall">Print</a>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Customer
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="left-col">
            Customer&rsquo;s National Insurance number
          </td>
          <td>
            XXXXXXXXXXX
          </td>
          <td class="change-answer">
            <a href="/v2/customer-nino/edit">
              Change <span class="visuallyhidden">customer&rsquo;s National Insurance number</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="left-col">
            Customer details
          </td>
          <td>
            Mrs<br>
            Margaret MacBean<br>
            12/08/1984<br>
            QQ 12 35 56
          </td>
          <td class="change-answer">
            <a href="/v2/customer-details/edit">
              Change <span class="visuallyhidden">customer details</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Customer contact
          </td>
          <td>
            6 Camdale Road, Meanwood, Leeds<br>
            LS6 4BB<br>
            0115 9179 577<br>
            Large print<br>
            Welsh language
          </td>
          <td class="change-answer">
            <a href="/v2/customer-contact/edit">
              Change <span class="visuallyhidden">customer contact</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Representative
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td class="left-col">
            Representative details
          </td>
          <td>
            Potential <abbr title="Personal Acting Body">PAB</abbr> or <abbr title="Corporate Acting Body">CAB</abbr><br>
            Mr<br>
            Daniel Angel<br>
            Same as customer address<br>
            0115 787 897
          </td>
          <td class="change-answer">
            <a href="/v2/representative-details/edit">
              Change <span class="visuallyhidden">Site of export name</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Visit
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td class="left-col">
            About the visit
          </td>
          <td>
            Benefits entitlement check<br>
            Initial date of contact: 12/06/2016
          </td>
          <td class="change-answer">
            <a href="/v2/visit-details/edit">
              Change <span class="visuallyhidden">visit details</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Visit address
          </td>
          <td>
            17 Guy Close, Beeston, Nottingham, NG9 4FF
          </td>
          <td class="change-answer">
            <a href="/v2/visit-address/edit">
              Change <span class="visuallyhidden">visit address</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Visit information
          </td>
          <td>
            Aggressive customer<br>
            Use back door
          </td>
          <td class="change-answer">
            <a href="/v2/visit-other/edit">
              Change <span class="visuallyhidden">visit information</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

    <table class="check-your-answers m-b-xl">

      <thead>
        <tr>
          <th colspan="3">
            <h2 class="heading-medium m-b-xs">
              Attachments
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="left-col">
            Files uploaded
          </td>
          <td>
            &mdash;
          </td>
          <td class="change-answer">
            <a href="/v2/attachments/edit">
              Change <span class="visuallyhidden">attachments</span>
            </a>
          </td>
        </tr>
      </tbody>

    </table>


  </div>{# /column-two-thirds #}

  <div class="column-one-third">

    <div class="sidebar">
{#       <h3 class="font-xsmall m-b-xs">Referral status</h3> #}
      <h4 class="heading-medium  m-b-xs m-t-0 green">Booked: 18 July</h4>
      <p class="m-b-xs">11:00am &ndash; 11:30am</p>
      <p class="font-xsmall">Assigned to Julie Smith</p>
      <p><a href="#" class="button">Book visit</a></p>
      <ul class="action-list font-xsmall">
        <li><a href="#">Reject</a></li>
        <li><a href="#">Return to team</a></li>
        <li><a href="#">Mark as urgent</a></li>
        <li><a href="#">Transfer to another visiting officer</a></li>
        <li><a href="#">Transfer to another team</a></li>
      </ul>
    </div>{# /sidebar #}

    <div class="sidebar">
      <h3 class="font-xsmall m-b-s">Cleared customer referrals</h3>
      <ol class="font-xsmall">
        <li>
          <ul class="list">
            <li class="bold"><a href="#">22 July 2016</a></li>
            <li>Cleared by telephone</li>
            <li class="small-grey">Cleared by Mike Andrew</li>
          </ul>
        </li>
        <li>
          <ul class="list">
            <li class="bold"><a href="#">16 July 2016</a></li>
            <li>Effective</li>
            <li class="small-grey">Cleared by Mike Andrew</li>
          </ul>
        </li>
        <li>
          <ul class="list">
            <li><a href="#" class="bold">14 July 2016</a></li>
            <li>Ineffective</li>
            <li class="small-grey">Cleared by Mike Andrew</li>
          </ul>
        </li>
        <li>
          <ul class="list">
            <li><a href="#" class="bold">10 September 2016</a></li>
            <li>Withdrawn</li>
            <li class="small-grey">Cleared by Mike Andrew</li>
          </ul>
        </li>
      </ol>
    </div>{# /sidebar #}

  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}