{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          About the visit
        </h1>

        <div class="form-group">
          <label class="form-label m-b-xs" for="reason">Purpose of the visit</label>
          <select id="visit-reason" data-placeholder="Choose a reason for this visit" class="chosen-select" tabindex="2">
        <option value=""></option>
        <option value="#">AA claim completion</option>
        <option value="#">AA special rules</option>
        <option value="#">Benefit cap</option>
        <option value="#">Benefit entitlement check</option>
        <option value="#">Bereavement</option>
        <option value="#">CA claim completion</option>
        <option value="#">Centenarian visit</option>
        <option value="#">Change of circumstances</option>
        <option value="#">Claim integrity in doubt</option>
        <option value="#">CMG</option>
        <option value="#">Combined customer-CAB visit</option>
        <option value="#">Combined customer-PAB visit</option>
        <option value="#">Compliance visit</option>
        <option value="#">Corporate acting body (CAB)</option>
        <option value="#">DLA claim completion</option>
        <option value="#">DLO visit</option>
        <option value="#">DWP - other</option>
        <option value="#">ESA - benefit integrity</option>
        <option value="#">ESA - ESA50 completion</option>
        <option value="#">ESA - FTA WCA</option>
        <option value="#">ESA - FTA WFI</option>
        <option value="#">ESA - new claims</option>
        <option value="#">ESA - other</option>
        <option value="#">Exception payment</option>
        <option value="#">Fairer charging new ass.</option>
        <option value="#">Fairer charging review</option>
        <option value="#">GMS</option>
        <option value="#">Habitual residence</option>
        <option value="#">Income Support - new claim</option>
        <option value="#">Income Support - other</option>
        <option value="#">IS - Benefit integrity</option>
        <option value="#">Learning focused interview FTA</option>
        <option value="#">Living together as a couple</option>
        <option value="#">Non declaration of a NSP</option>
        <option value="#">Overpayment delivery - civil penalty</option>
        <option value="#">Payment query</option>
        <option value="#">PC application completion</option>
        <option value="#">Performance measurement</option>
        <option value="#">Personal acting body</option>
        <option value="#">PIP1 claim completion</option>
        <option value="#">PIP2 claim completion</option>
        <option value="#">PIP claim - special rules</option>
        <option value="#">PIP discrepancy</option>
        <option value="#">PIP reassessment</option>
        <option value="#">PC2 review</option>
        <option value="#">Reputational visit</option>
        <option value="#">Security check</option>
        <option value="#">Self-employed</option>
        <option value="#">SP claim completion</option>
        <option value="#">Trial work stream</option>
        <option value="#">Under 18 DLA claim completion</option>
        <option value="#">Under 16 appointee</option>
        <option value="#">UC - benefit integrity</option>
        <option value="#">UC - FTA WCA</option>
        <option value="#">UC - FTA WFI</option>
        <option value="#">UC - other</option>
        <option value="#">UC - UC50 completion</option>
        <option value="#">Verification</option>
      </select>
        </div>

        <!-- Date of contact -->
        <div class="form-group m-b-ml">
          <fieldset class="m-b-s">
            <legend class="form-label">Initial date of contact</legend>

            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="dob-day" class="form-hint m-b-xs">Day</label>
                <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="12">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month" class="form-hint m-b-xs">Month</label>
                <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="06">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year" class="form-hint m-b-xs">Year</label>
                <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014" value="2016">
              </div>
            </div>

          </fieldset>

        </div><!-- / Date of contact -->

        <div class="form-group">
          <a href="javascript:history.back()" class="button">Save</a>
          <a href="javascript:history.back()" class="button text">Cancel</a>
        </div>

        </fieldset>

      </form>
    
  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}