{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <form method="post" class="form">

      <h1 class="form-title heading-large m-b-xl">
        Where will the visit be?
      </h1>

      <fieldset class="m-b-l">

        <legend class="visually-hidden">Where will the visit be?</legend>

        <label class="block-label" for="choice1-1">
          <input id="choice1-1" type="radio" name="choice1" value="yes">
          Customer&rsquo;s address
        </label>

        <label class="block-label" for="choice1-2">
          <input id="choice1-2" type="radio" name="choice1" value="no">
          Representative&rsquo;s address
        </label>

        <label class="block-label" for="choice1-3" data-target="panel">
          <input id="choice1-3" type="radio" name="choice1" value="no" checked="checked">
          Other
        </label>

        <div id="panel" class="panel panel-border-narrow m-b-s">

          <fieldset class="form-group u-clearfix m-b-0">

          <div class="form-group">

            <label class="form-label m-b-xs" for="address-building-street">Building and street</label>
            <input type="text" class="form-control m-b-s" id="address-building-street" name="address-building-street" value="17 Guy Close">

            <label class="form-label visually-hidden" for="address-building-street2">Building and street line 2 (optional)</label>
            <input type="text" class="form-control" id="address-building-street2" name="address1" value="">

          </div>

          <div class="form-group">
            <label class="form-label m-b-xs" for="address-town">Town or city</label>
            <input type="text" class="form-control" id="address-town" name="address-town" value="Beeston">
          </div>

          <div class="form-group">
            <label class="form-label m-b-xs" for="address-county">County</label>
            <input type="text" class="form-control" id="address-county" name="address-county" value="Nottingham">
          </div>

          <div class="form-group js-error-container m-t-ns">
            <label class="form-label m-b-xs" for="address-postcode">Postcode</label>
            <input type="text" class="form-control form-control-1-4" id="address-postcode" name="address-postcode" value="NG9 4FF">
          </div>

        </fieldset>

          

        </div>{# / panel #}

      </fieldset>

      <div class="form-group">
        <a href="javascript:history.back()" class="button">Save</a>
        <a href="javascript:history.back()" class="button text">Cancel</a>
      </div>

    </form>
    
  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}