{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="../referrals/team-referrals" class="link-back">Team referrals</a>
    </div>

  </div>{# /grid-row #}

  <div class="panel panel-border-wide alert-success m-t-l">
    <p>Graham Highfields has been transferred to the Nottinghamshire County Council visiting team</p>
  </div>

</main>

{% endblock %}