{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Graham Highfields - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          Is an interpreter needed?
        </h1>

        {# risk factor #}
        <div class="form-group">

          <fieldset class="inline">
            <label class="block-label" for="choice1-1">
              <input id="choice1-1" type="radio" name="choice1" value="yes">
              Yes
            </label>
            <label class="block-label" for="choice1-2">
              <input id="choice1-2" type="radio" name="choice1" value="no" checked="checked">
              No
            </label>
          </fieldset>

        </div>{# / risk factor #}


        <div class="form-group">
          <a href="javascript:history.back()" class="button">Save</a>
          <a href="javascript:history.back()" class="button text">Cancel</a>
        </div>

      </form>
    
  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}