{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Peter Arnold - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="../referrals" class="link-back">Available referrals</a>
    </div>

  </div>{# /grid-row #}

  <div class="panel panel-border-wide alert-success m-t-l">
      <p>Reviewed and marked as &lsquo;Benefits entitlement check&rsquo;</p>
    </div>

  <div class="grid-row">

  <div class="column-two-thirds position-relative">

    <div>
      <div class="m-t-xl m-b-xs"></div>
      <div>
        <div style="float:left; width:80%;">
          <h1 class="form-title heading-large m-b-l m-t-0">
            Peter Arnold
          </h1>
        </div>
        <div style="float:right; width:15%;">
          <a href="" class="print font-xsmall">Print</a>
        </div>
      </div>
    </div>

    <div class="nav-tabbed">

      <ul>
        <li class="current"><span>Referral details</span></li>
        <li><a href="#"><span>Activity history (0)</span></a></li>
      </ul>

      <div class="clear"></div>

    </div>{# /nav-tabbed #}

    {% include "v1/referrals/includes/details-peter-arnold-reviewed.html" %}

  </div>{# /column-two-thirds #}

  <div class="column-one-third">

    <div class="sidebar primary pending">
      <h4 class="heading-medium m-t-0 m-b-m status-heading pending">Pending <span class="urgent">Urgent</span></h4>
      <p class="font-xsmall">Assigned to Julie Smith</p>
      <p><a href="#" class="button">Book visit</a></p>
      <ul class="action-list font-xsmall bold">
        <li><a href="#">Return to team</a></li>
        <li><a href="#">Assign to another visiting officer</a></li>
        <li><a href="#">Transfer to another team</a></li>
        <li><a href="#">Mark as urgent</a></li>
        <li><a href="#">Book interpreter</a></li>
      </ul>
      {% include "v1/referrals/includes/record-outcome.html" %}
    </div>
    {# /sidebar #}

    {% include "v1/referrals/includes/dates-peter-arnold.html" %}

    {% include "v1/referrals/includes/cleared-sidebar.html" %}

  </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</main>

{% endblock %}