{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Team referrals - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <h1 class="form-title heading-large m-b-xl">Referrals</h1>

  <div class="container">

      <div class="nav-tabbed">

        <ul>
          <li><a href="new-referrals"><span>New referrals</span></a></li>
          <li class="current"><span>Team referrals</span></li>
          <li><a href="my-referrals"><span>My referrals</span></a></li>
        </ul>

        <div class="clear"></div>

      </div>{# /nav-tabbed #}

      <div class="filters">

        <h3>Showing</h3>
        <ul>  
          <li><a href="team-referrals">All</a></li>
          <li class="bold">Pending</li>
          <li><a href="team-referrals-booked">Booked</a></li>
        </ul>

      </div>{# /filters #}

      <table id="searchable-table" class="m-b-l truncate display">
        <thead>
          <tr>
            <th class="col-1">&nbsp;</th>
            <th class="col-2">Target date</th>
            <th class="col-3">Customer</th>
            <th class="col-4">Referral type</th>
            <th class="col-5">Status</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="urgent">Urgent</span></td>
            <td><span class="bold due">10 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Graham Highfields</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to John Wil&hellip;</small>
            </td>
            <td>Mansfield, Nottingham<br />NG12 9LO</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="bold due">12 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Jill Perkins</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td><abbr title ="Personal Independent Payment">PIP</abbr> claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Long Eaton, Nottingham<br />NG4 8TU</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="bold due">13 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Steven Callum</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td><abbr title ="">AA</abbr> claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Tim Jones</small>
            </td>
            <td>Mansfield, Nottingham<br />NG1 1BB</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="">28 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Grant Harley</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td><abbr title ="Personal Independent Payment">PIP</abbr> claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Tim Jones</small>
            </td>
            <td>Ilkeston, Nottingham<br />NG14 9TY</td>
          </tr>
          <tr>
            <td><span class="visually-hidden">z</span></td>
            <td><span class="">28 July</span></td>
            <td>
              <span class="col-heading"><a href="#">Sam Kramer</a></span>
              <small class="small-grey">AA 12 34 56 D</small>
            </td>
            <td><abbr title ="Personal Independent Payment">PIP</abbr> claim</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Julie Smith</small>
            </td>
            <td>Mansfield, Nottingham<br />NG12 7UJ</td>
          </tr>
        </tbody>
      </table>

  </div>{# /container #}

</main>

{% endblock %}