{% from "../macros/version.html" import versionNumber %}
{% set section = "referrals" %}
{% set headerType = "search" %}
{% extends "layout_dwp.html" %}

{% block page_title %}
 Team referrals - Visiting Service Management System 
{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main id="content" role="main">

  <h1 class="form-title heading-large m-b-xl">Referrals</h1>

  <div class="container">

      <div class="nav-tabbed">

        <ul>
          <li><a href="available-referrals"><span>Available referrals (54)</span></a></li>
          <li class="current"><span>Team referrals (26)</span></li>
          <li><a href="my-referrals"><span>My referrals (5)</span></a></li>
        </ul>

        <div class="clear"></div>

      </div>{# /nav-tabbed #}

      <div class="filters">

        <h3>Showing</h3>
        <ul>  
          <li><a href="team-referrals">All</a></li>
          <li><a href="team-referrals-pending">Pending</a></li>
          <li><a href="team-referrals-booked">Booked</a></li>
          <li class="bold">UCB</li>
          <li><a href="team-referrals-unsafe-areas">Unsafe areas</a></li>
        </ul>
        &nbsp;&nbsp;
        <h3>Sort by</h3>
        <select name="select">
          <option value="" selected>Urgency</option> 
          <option value="">Target date</option>
        </select>

      </div>{# /filters #}

      <table id="searchable-table" class="m-b-l truncate display">
        <thead>
          <tr>
            <th class="col-1">Target</th>
            <th class="col-2">Customer</th>
            <th class="col-3">Referral type</th>
            <th class="col-4">Status</th>
            <th class="col-5">Visit address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="date">
              22 Sept<br>
              <span class="urgent">Urgent</span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Steven Callum</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td><abbr title ="">AA</abbr> claim completion</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Tim Jones</small>
            </td>
            <td>West Bridgford<br />NG1 1BB</td>
          </tr>
          <tr>
            <td class="date">
              03 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
                <span class="target-3"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Julia Jenkins</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 1 August</span></span>
              <small class="small-grey">Assigned to Grant Phi&hellip;</small>
            </td>
            <td>Mansfield<br />NG1 8YU</td>
          </tr>
          <tr>
            <td class="date">
              05 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
                <span class="target-3"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Noel Jenkins</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 1 August</span></span>
              <small class="small-grey">Assigned to Grant Phi&hellip;</small>
            </td>
            <td>Mansfield<br />NG1 1BB</td>
          </tr>
          <tr>
            <td class="date">
              08 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Echo Zheng</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Trial work stream</td>
            <td>
              <span class="col-heading pending"><span class="sticker">Pending</span></span>
              <small class="small-grey">Assigned to Tim Jones</small>
            </td>
            <td>West Bridgford<br />NG1 1BB</td>
          </tr>
          <tr>
            <td class="date">
              11 Sept<br>
              <span class="target">
                <span class="target-1"></span>
                <span class="target-2"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Julia Jenkins</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 1 August</span></span>
              <small class="small-grey">Assigned to Grant Phi&hellip;</small>
            </td>
            <td>Mansfield<br />NG1 8YU</td>
          </tr>
          <tr>
            <td class="date">
              15 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Noel Jenkins</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 1 August</span></span>
              <small class="small-grey">Assigned to Grant Phi&hellip;</small>
            </td>
            <td>Mansfield<br />NG1 1BB</td>
          </tr>
          <tr>
            <td class="date">
              18 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Karl Owen</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 13 September</span></span>
              <small class="small-grey">Assigned to Grant Phi&hellip;</small>
            </td>
            <td>Retford<br />NG16 1TG</td>
          </tr>
          <tr>
            <td class="date">
              21 Sept<br>
              <span class="target">
                <span class="target-1"></span>
              </span>
            </td>
            <td>
              <span class="col-heading"><a href="#">Patrick Owen</a></span>
              <small class="small-grey">AA 12 34 56 D &nbsp;<span class="ucb">UCB</span></small>
            </td>
            <td>Disability claim</td>
            <td>
              <span class="col-heading booked"><span class="sticker">Booked: 13 August</span></span>
              <small class="small-grey">Assigned to Grant Phi&hellip;</small>
            </td>
            <td>Retford<br />NG16 1TG</td>
          </tr>
        </tbody>
      </table>

  </div>{# /container #}

</main>

{% endblock %}